---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <style>
    @media (min-width: 1024px) {
      body {
        zoom: 1.33; /* Adjust the zoom level to 133% */
      }
    }
    .container {
      display: flex; /* aligns items in a row */
      gap: 10px; /* adds some space between items */
    }
    .subtle-text {
      background-color: #3b2b2b;
      margin-top: 1rem;
      padding: 0.25rem;
      padding-right: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      border-radius: 0.25rem;
      width: fit-content;
    }
    .subtler-text {
      background-color: #2a412f;
      margin-top: 1rem;
      padding: 0.25rem;
      padding-right: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      border-radius: 0.25rem;
      width: fit-content;
    }
    .software-text {
      background-color: #402a41;
      margin-top: 1rem;
      padding: 0.25rem;
      padding-right: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      border-radius: 0.25rem;
      width: fit-content;
    }
    .col-text {
      background-color: #423625;
      margin-top: 1rem;
      padding: 0.25rem;
      padding-right: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      border-radius: 0.25rem;
      width: fit-content;
    }
    .health-text {
      background-color: #511758;
      margin-top: 1rem;
      padding: 0.25rem;
      padding-right: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      border-radius: 0.25rem;
      width: fit-content;
    }
  </style>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Abhinav / August.
    </h1>

    <div class="container">
      <h3 class="subtler-text">🍀 Boston, MA</h3>
      <!-- <h3 class="subtle-text">📍 Mountain View, CA</h3> -->
      <h3 class="subtler-text">🍀 Boston University</h3>
      <h3 class="software-text">👨‍💻 Software Engineer</h3>
    </div>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              I'm currently an incoming Software Engineer at <Link
                href="https://www.athelas.com/">Athelas</Link
              >. I tinker with firmware and electronics on the nights and
              weekends, as well as pursue my second Master's in <Link
                href="https://www.colorado.edu/ecee/academics/online-programs/master-science-electrical-engineering"
                >Electrical Engineering @ CU Boulder</Link
              >.
            </p>
            <p>
              In the past, I've done some open source work on the <Link
                href="https://github.com/rems-project/sail">Sail</Link
              > parser, <Link href="">Jiff</Link> multiparty computation framework,
              <Link href="">Zephyr RTOS</Link>, <Link href="">Reth</Link> and a few
              other repositories. I also presented a talk on <Link
                href="https://www.securekernels.xyz/1"
              >
                Writing secure kernels</Link
              > @ Boston Security Meetups, and I try to attend all the local technical
              meetups, including Easy Runs and Boston Open Source Meetup.
              <p>
                I love <Link href="/reading">reading</Link>, <Link
                  href="/writing">writing</Link
                >, and <Link href="/projects">building</Link> things. I'm also a
                huge fan perfumery, linguistics, and going on long walks. I've covered
                most of Boston on foot, and I'm always looking for new places to
                explore, and while exploring, looking around curiously to grok any
                piece of history or urbanism that I can.
              </p>
            </p>
          </span>
        </article>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              <br>
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            <br>
            Let's Connect
          </h2>
          <article>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </Container>
</Layout>
